.header {
  margin: 0;
  padding: 10px 0;
  background: var(--color-black-primary);
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}
.wrapper {
  max-width: 780px;
  width: 100%;
}

.title {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}
.title--color {
  color: var(--color-green);
}
.form {
  width: 100%;
  display: flex;
  align-items: stretch;
  .input-serch {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
