:root {
  --color-black: #171c20;
  --color-black-primary: #22272b;
  --color-green: #567842;
  --color-text: #bfbfbf;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-black);
  color: var(--color-text);
  font-family: 'Roboto', 'Open Sans', helvetica, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 1280px;
  width: 100%;
}

#__next {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
