:root {
  --color-black: #171c20;
  --color-black-primary: #22272b;
  --color-green: #567842;
  --color-text: #bfbfbf;
  --border-color: #2d3236;
  --border-radius-med: 10px;
  --border-radius-min: 5px;
  --border-radius-max: 15px;
  --font-size-min: 14px;
  --font-size-med: 16px;
  --font-size-max: 20px;

}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-black);
  color: var(--color-text);
  font-family: 'Roboto', 'Open Sans', helvetica, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#__next {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
